<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Colegio | Software para colegio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Plataforma para la gestión de colegios" name="description" />
    <meta content="Crivant" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

    <!-- App css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />

    <script>
        var RutaPrincipal = "@Url.Content("~")";
        var valorfecha = "";
    </script>
</head>

<body class="loading" data-layout-config='{"leftSideBarTheme":"light","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <!-- third party js -->
    <!-- <script src="assets/js/vendor/Chart.bundle.min.js"></script> -->

    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
            <!-- LOGO -->
            <a href="/Home/Index" class="logo text-center logo-light">
                <span class="logo-lg">
                    @*<img src="~/Content/img/sancarloseduca.png" alt="" height="45">*@
                    @*<img src="~/Content/img/cimg_logo.png" alt="" height="45">*@
                    <img src="~/assets/PERFIL_PL.png" alt="" height="105">
                </span>
                <span class="logo-sm">
                    @*<img src="~/Content/img/sancarloseduca.png" alt="" height="45">*@
                    @*<img src="~/Content/img/cimg_logo.png" alt="" height="45">*@
                    <img src="~/assets/PERFIL_PL.png" alt="" height="105">
                </span>
            </a>

            <!-- LOGO -->
            <a href="/Home/Index" class="logo text-center logo-dark">
                <span class="logo-lg">
                    @*<img src="~/Content/img/cimg_logo.png" alt="" height="45">*@
                    <img src="~/assets/PERFIL_PL.png" alt="" height="110">
                </span>
                <span class="logo-sm">
                    @*<img src="~/Content/img/cimg_logo.png" alt="" height="45">*@
                    <img src="~/assets/PERFIL_PL.png" alt="" height="110">
                </span>
            </a>

            <div class="h-100" id="left-side-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="metismenu side-nav">

                    <li class="side-nav-title side-nav-item">Navegación</li>

                    <li class="side-nav-item">
                        @if (ViewBag.GrolUsuario == 1 || ViewBag.GrolUsuario == 2)
                        {
                            <a href="javascript: void(0);" class="side-nav-link"
                               style="color:black !important;font-weight: bold; border: 4px solid black; border-radius: 15px; margin: 15px;">
                                <i class="uil-home-alt"></i>
                                <span class="badge badge-success float-right">0</span>
                                <span>GENERAL</span>
                            </a>
                        }
                        else if (ViewBag.GrolUsuario == 3)
                        {
                            <a href="javascript: void(0);" class="side-nav-link"
                               style="color:black !important;border: 2px solid black;border-radius: 15px;margin: 15px; font-weight:bold;">
                                <i class="uil-home-alt"></i>
                                <span>GENERAL</span>
                            </a>
                        }

                        <ul class="side-nav-second-level mm-show" aria-expanded="true">
                            @if (ViewBag.GrolUsuario == 1)
                            {
                                <li>
                                    <a href="/Usuario/Index">Usuario</a>
                                </li>
                                <li>
                                    <a href="/Clase/ClaseGestion">Clases y tareas</a>
                                </li>
                                <li>
                                    <a href="/Archivo/archivoGestion">Lista de tareas</a>
                                </li>
                                <li>
                                    <a href="/Archivo/archivoGestionAlumno">Calificación</a>
                                </li>
                                <li>
                                    <a href="/curso/asignacion">Asignación</a>
                                </li>
                                <li>
                                    <a href="/Pago/pagoGestion">
                                        <span>Gestión de pagos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Pago/Reporte">
                                        <span>Reporte</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Pago/ReporteUsuarioPago">
                                        <span>Reporte de Pagos</span>
                                    </a>
                                </li>
                            }
                            else if (ViewBag.GrolUsuario == 2)
                            {
                                <li>
                                    <a href="/Clase/ClaseGestion">Clases y tareas</a>
                                </li>
                                <li>
                                    <a href="/Archivo/archivoGestion">Lista de tareas</a>
                                </li>
                                <li>
                                    <a href="/Archivo/archivoGestionAlumno">Calificación</a>
                                </li>
                            }
                            else if (ViewBag.GrolUsuario == 3)
                            {
                                <li>
                                    <a href="/Clase/Curso" style="border: 2px solid white;border-radius: 15px;margin: 15px; font-weight:bold;">
                                        <i class="uil-home-alt"></i>
                                        <span>CURSOS</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Horario/Index" style="border: 2px solid white;border-radius: 15px;margin: 15px; font-weight:bold;">
                                        <i class="uil-graduation-hat"></i>
                                        <span>HORARIO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Calificacion/Calificacion" style="border: 2px solid white;border-radius: 15px;margin: 15px; font-weight:bold;">
                                        <i class="uil-file-plus-alt"></i>
                                        <span>CALIFICACIÓN</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Pago/Pago" style="border: 2px solid white;border-radius: 15px;margin: 15px; font-weight:bold;">
                                        <i class="uil-file-plus-alt"></i>
                                        <span>PAGO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Pago/Usuario" style="border: 2px solid white;border-radius: 15px;margin: 15px; font-weight:bold;">
                                        <i class="uil-file-plus-alt"></i>
                                        <span>REPORTE PAGO</span>
                                    </a>
                                </li>
                            }
                        </ul>

                    </li>

                    @if (ViewBag.GrolUsuario == 3)
                    {
                        @*<li class="side-nav-item">
                                <a href="javascript: void(0);" class="side-nav-link"
                                   style="font-weight: bold; border: 2px solid white; border-radius: 15px; margin: 15px">
                                    <i class="mdi mdi-gamepad-variant-outline"></i>
                                    <span class="badge badge-success float-right">0</span>
                                    <span>JUEGOS-PC</span>
                                </a>
                                <ul class="side-nav-second-level" aria-expanded="false">
                                    <li>
                                        <a style="font-weight: bold; border: 2px solid white; border-radius: 15px; margin: 15px"
                                           href="https://www.chess.com/es/lessons/movimiento-de-las-piezas/el-rey" target="_blank">AJEDREZ</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="side-nav-item">
                                <a href="javascript: void(0);" class="side-nav-link"
                                   style="font-weight: bold; border: 2px solid white; border-radius: 15px; margin: 15px">
                                    <i class="mdi mdi-gamepad-variant-outline"></i>
                                    <span class="badge badge-success float-right">0</span>
                                    <span>JUEGOS PARA CELULAR</span>
                                </a>
                                <ul class="side-nav-second-level" aria-expanded="false">
                                    <li>
                                        <a style="font-weight: bold; border: 2px solid white; border-radius: 15px; margin: 15px"
                                           href="https://play.google.com/store/apps/details?id=com.fanatee.cody" target="_blank">CRUCIGRAMA</a>
                                    </li>
                                </ul>
                                <ul class="side-nav-second-level" aria-expanded="false">
                                    <li>
                                        <a style="font-weight: bold; border: 2px solid white; border-radius: 15px; margin: 15px"
                                           href="https://play.google.com/store/apps/details?id=com.playrix.homescapes" target="_blank">HOMESCAPES</a>
                                    </li>
                                </ul>
                            </li>*@
                    }

                </ul>
                <div>
                    @*<img src="~/Content/img/calendario.png" height="320" />*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="~/assets/images/brands/dribbble.png" alt="user-image" class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">Usuario</span>
                                    <span class="account-position">cuenta</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">¡Bienvenido!</h6>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-circle mr-1"></i>
                                    <span>Mi cuenta</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-edit mr-1"></i>
                                    <span>Configuración</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lifebuoy mr-1"></i>
                                    <span>Soporte</span>
                                </a>

                                <!-- item-->
                                <a onclick="fnDesconectar();" style="cursor:pointer;" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout mr-1"></i>
                                    <span>Desconectar</span>
                                </a>

                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left disable-btn">
                        <i class="mdi mdi-menu"></i>
                    </button>

                </div>
                <!-- aca es la vaina -->
                @RenderBody()
                <!-- aca es la vaina -->
            </div>
            <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2020 - 2020 Colegio
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                <a href="javascript: void(0);">Acerca de</a>
                                <a href="javascript: void(0);">Soporte</a>
                                <a href="javascript: void(0);">Contáctanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
    </div>
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>

    <!-- third party js -->
    <!-- <script src="assets/js/vendor/Chart.bundle.min.js"></script> -->

    <script src="~/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/vendor/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.flash.min.js"></script>
    <script src="~/assets/js/vendor/buttons.print.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/vendor/dataTables.select.min.js"></script>

    <script src="~/assets/datatables/Buttons-1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/assets/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/assets/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/assets/datatables/Buttons-1.6.5/js/buttons.html5.min.js"></script>

    <script src="~/assets/js/vendor/Chart.bundle.min.js"></script>
    <script src="~/assets/js/pages/demo.dashboard-projects.js"></script>

    <script src="~/assets/js/vendor/apexcharts.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/pages/demo.dashboard.js"></script>
    @RenderSection("Scripts", required: false)
    <script>

        function NotificacionInfoDerecha(mensajes) {
            $.NotificationApp.send("Aviso!", mensajes, "top-right", "rgba(0,0,0,0.2)", "info")
        }

        function NotificacionSuccessDerecha(mensaje) {
            $.NotificationApp.send("DATOS CORRECTOS!", mensaje, "top-right", "rgba(0,0,0,0.2)", "success")
        }

        function NotificacionAvisoDerecha(mensaje) {
            $.NotificationApp.send("AVISO!", mensaje, "top-right", "rgba(0,0,0,0.2)", "warning")
        }

        function fn_ArmadoAJAX(pstrMetodo, pParam, successFn, errorFn) {
            var oParametros = JSON.stringify(pParam);

            //Arma Parametros
            var parametro = '';
            if (oParametros === '') {
                parametro = "{}";
            } else {
                parametro = oParametros;
            }
            //Ejecuta Ajax
            $.ajax({
                type: "POST",
                url: pstrMetodo,
                contentType: "application/json; charset=utf-8",
                data: parametro,
                dataType: "json",
                async: true,
                success: function (data) {
                    successFn(data);
                },
                error: errorFn
            });

        }

        function fnDesconectar() {
            $.ajax({
                type: "POST",
                url: RutaPrincipal + 'Login/cerrarSesion',
                async: false,
                success: function (msg) {
                    window.location.href = RutaPrincipal + "Login/Index?ivalorsesion=0&valorlogin=vacio";

                },
                error: function (msg) {

                    //location.reload();
                },
                complete: function (data) {
                    // si acabo de completar
                }
            });
        }

    </script>

</body>

</html>