@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Usuario</a></li>
                        <li class="breadcrumb-item active">Gestión de usuarios</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO USUARIO</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalUsuario"><i class="mdi mdi-plus"></i>AGREGAR USUARIO</button>
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Nivel/Grado</th>
                                        <th>Usuario</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Tipo de usuario</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end tab-content-->

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>

    <div id="modalUsuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-lg-6">
                            <form id="frmUsuario">
                                <div class="form-group mb-3">
                                    <label for="idNivel">Nivel</label>
                                    <select class="form-control" id="idNivel"></select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idGrado">Grado</label>
                                    <select class="form-control" id="idGrado"></select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idSede">Sede</label>
                                    <select class="form-control" id="idSede">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Principal</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idNombres">Nombres</label>
                                    <input type="text" id="idNombres" placeholder="Nombres" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApPaterno">Apellido Paterno</label>
                                    <input type="text" id="idApPaterno" placeholder="Apellido Paterno" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApMaterno">Apellido Materno</label>
                                    <input type="text" id="idApMaterno" placeholder="Apellido Materno" class="form-control">
                                </div>

                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <form id="frm2">
                                <div class="form-group mb-3">
                                    <label for="idTipoUsuario">Tipo Usuario</label>
                                    <select class="form-control" id="idTipoUsuario">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Alumno</option>
                                        <option value="4">Supervisor</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idUsuario">Usuario</label>
                                    <input type="text" id="idUsuario" name="example-email" class="form-control" placeholder="Usuario">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idContrasenia">Contraseña</label>
                                    <input type="password" id="idContrasenia" class="form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnAgregar"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditarUsuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <input type="hidden" value="" data-idusuario="" id="hddusuario" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">EDITAR USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="frmUsuarioEditar">
                                <div class="form-group mb-3">
                                    <label for="idNivelEditar">Nivel (Primaria / Secundaria)</label>
                                    <select class="form-control" id="idNivelEditar">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Primaria</option>
                                        <option value="2">Secundaria</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idGradoEditar">Grado</label>
                                    <select class="form-control" id="idGradoEditar"></select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idSedeEditar">Sede</label>
                                    <select class="form-control" id="idSedeEditar">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Principal</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idNombresEditar">Nombres</label>
                                    <input type="text" id="idNombresEditar" placeholder="Nombres" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApPaternoEditar">Apellido Paterno</label>
                                    <input type="text" id="idApPaternoEditar" placeholder="Apellido Paterno" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idApMaternoEditar">Apellido Materno</label>
                                    <input type="text" id="idApMaternoEditar" placeholder="Apellido Materno" class="form-control">
                                </div>
                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <form id="frm2Editar">
                                <div class="form-group mb-3">
                                    <label for="idTipoUsuarioEditar">Tipo Usuario</label>
                                    <select class="form-control" id="idTipoUsuarioEditar">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Alumno</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="idUsuarioEditar">Usuario</label>
                                    <input type="text" id="idUsuarioEditar" name="example-email" class="form-control" placeholder="Usuario">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="idContraseniaEditar">Contraseña</label>
                                    <input type="password" id="idContraseniaEditar" class="form-control">
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnActualizar" onclick="fn_Actualizar()"><i class="mdi mdi-plus"></i>Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEliminarAlumno" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <input type="hidden" value="" data-idalumnoEliminar="" id="hddAlumnoEliminar" />
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-wrong h1 text-danger"></i>
                        <h4 class="mt-2">¿Seguro de Eliminar este alumno?</h4>
                        <button type="button" onclick="fn_ConfirmarEliminar()" id="mdEliminar" class="btn btn-success my-2" data-dismiss="modal">Eliminar</button>
                        <button type="button" id="" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    $("#frmUsuario").submit(false);
    $('#frm2').submit(false);
    $('#frm2Editar').submit(false);

    function fn_ListarNivel() {

        $('#idNivel').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarNivel",
            success: function (data) {
                console.log(data);
                if (data.aaData === "") {
                    alert("¡No hay niveles, intenta agregar algunos!");
                }
                $('#idNivel').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idNivel').append($("<option></option>")
                        .attr("value", value.idnivel)
                        .text(value.SnombreNivel));
                });

            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarNivelEditar() {

        $('#idNivelEditar').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarNivel",
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay niveles, intenta agregar algunos!");
                }
                $('#idNivelEditar').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idNivelEditar').append($("<option></option>")
                        .attr("value", value.idnivel)
                        .text(value.SnombreNivel));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_listarGrado() {
        var slcnivel = $('#idNivel option:selected').attr('value');
        $('#idGrado').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/Curso/ListarGrado",
            data: {
                "widnivel": parseInt(slcnivel)
            },
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay categorias, intenta agregar una!");
                }
                $('#idGrado').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGrado').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function fn_listarGradoEditar(slcnivel, vidgrado) {

        $('#idGradoEditar').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/Curso/ListarGrado",
            async: false,
            data: {
                "widnivel": parseInt(slcnivel)
            },
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay categorias, intenta agregar una!");
                }
                $('#idGradoEditar').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGradoEditar').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
        console.log(vidgrado);
        $('#idGradoEditar option[value="' + vidgrado + '"]').attr('selected', 'selected');

    }

    $("#btnAgregar").click(function () {
        var slcNivel = $('#idNivel option:selected').attr('value');
        var slcGrado = $('#idGrado option:selected').attr('value');
        var slcSede = $('#idSede option:selected').attr('value');
        var ipNombres = $('#idNombres').val();
        var ipApPaterno = $('#idApPaterno').val();
        var ipApMaterno = $('#idApMaterno').val();
        var slcTipoUsuario = $('#idTipoUsuario option:selected').attr('value');
        var ipUsuario = $('#idUsuario').val();
        var ipContrasenia = $('#idContrasenia').val();

        if (slcNivel.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL NIVEL");
            return;
        }
        if (slcTipoUsuario.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL TIPO DE USUARIO");
            return;
        }
        if (slcGrado.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL GRADO");
            return;
        }
        if (ipUsuario.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UN NOMBRE DE USUARIO");
            return;
        }
        if (slcSede.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA LA SEDE");
            return;
        }

        if (ipContrasenia.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UNA CONTRASEÑA");
            return;
        }
        if (ipNombres.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL NOMBRE");
            return;
        }
        if (ipApPaterno.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO PATERNO");
            return;
        }
        if (ipApMaterno.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO MATERNO");
            return;
        }

        $.ajax({
            type: "POST",
            url: RutaPrincipal + 'Login/Crearusuario',
            data: {
                "widnivel": slcNivel,
                "widgrado": slcGrado,
                "widsede": slcSede,
                "wnombres": ipNombres,
                "wamaterno": ipApMaterno,
                "wapaterno": ipApPaterno,
                "wtipousuario": slcTipoUsuario,
                "wusuario": ipUsuario,
                "wclave": ipContrasenia
            },
            async: false,
            success: function (msg) {
                NotificacionSuccessDerecha("USUARIO CREADO CORRECTAMENTE");

                $('#idGrado').find('option').remove();
                $("#idNivel").prop('selectedIndex', 0);
                $("#idTipoUsuario").prop('selectedIndex', 0);
                $('#idNombres').val("");
                $('#idApPaterno').val("");
                $('#idApMaterno').val("");
                $('#idUsuario').val("");
                $('#idContrasenia').val("");
                $('#modalUsuario').modal("hide");
                var table = $('#basic-datatable').DataTable();
                table.ajax.reload();
            },
            error: function (msg) {
                var slcNivel = $('#idNivel option:selected').attr('value');
                var slcGrado = $('#idGrado option:selected').attr('value');
                var slcSede = $('#idSede option:selected').attr('value');
                var ipNombres = $('#idNombres').val();
                var ipApPaterno = $('#idApPaterno').val();
                var ipApMaterno = $('#idApMaterno').val();
                var slcTipoUsuario = $('#idTipoUsuario option:selected').attr('value');
                var ipUsuario = $('#idUsuario').val();
                var ipContrasenia = $('#idContrasenia').val();
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });

    function fnlistarTabla() {
        $('#basic-datatable').dataTable({
            "ajax": {
                "url": RutaPrincipal + 'Login/ListarUsuarioGestion',
                "type": "POST",
                "datatype": "json",
                "data": {
                    "usuario": "vacio",
                    "tipousuario": 0
                }
            },
            //"bServerSide": true,
            "bProcessing": true,
            "bDestroy": true,
            "language": {
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "emptyTable": "No se encontraron registros",
                "sZeroRecords": "No se encontraron registros.",
                "processing": "Cargando. Por favor espere...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sLengthMenu": "Mostrando _MENU_ filas",
                "sSearch": "Buscar:"
            },
            "columns": [
                {
                    "mData": "idnivel",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        var valorNivel = ""
                        var valorGrado = "";

                        (value.idnivel == 1) ? valorNivel = "Primaria" : valorNivel = "Secundaria";
                        switch (value.idgrado) {
                            case 1: valorGrado = "Primero"; break;
                            case 2: valorGrado = "Segundo"; break;
                            case 3: valorGrado = "Tercero"; break;
                            case 4: valorGrado = "Cuarto"; break;
                            case 5: valorGrado = "Quinto"; break;
                            case 6: valorGrado = "Sexto"; break;
                            case 7: valorGrado = "Primero"; break;
                            case 8: valorGrado = "Segundo"; break;
                            case 9: valorGrado = "Tercero"; break;
                            case 10: valorGrado = "PRE"; break;
                        }
                        return valorNivel + " / " + valorGrado;
                        //return "Principal";
                    }
                },
                { "sName": "Susuario", "mDataProp": "Susuario" },
                { "sName": "Snombres", "mDataProp": "Snombres" },
                {
                    "mData": "SApellidoPaterno",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        return value.SApellidoPaterno + " " + value.SApellidoMaterno;
                    }
                },
                { "sName": "Scorreo", "mDataProp": "Scorreo" },
                {
                    "mData": "tipousuario",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        if (value.tipousuario == 1) {
                            return "administrador";
                        } else if (value.tipousuario == 2) {
                            return "Docente";
                        }
                        else if (value.tipousuario == 3) {
                            return "Alumno";
                        }
                    }
                },
                {},
                {}
            ],
            "aoColumnDefs":
                [
                    {
                        "mRender": function (data, type, row) {
                            var strHtml = "<button class='btn btn-warning' onclick='fn_Editar("
                                + row.idusuario + ", " +
                                row.idnivel + ", " +
                                row.tipousuario + ", " +
                                row.idgrado + ", " +
                                row.idsede + ", " +
                                "\"" + row.Susuario + "\"" + ", " +
                                "\"" + row.Snombres + "\"" + ", " +
                                "\"" + row.SApellidoPaterno + "\"" + ", " +
                                "\"" + row.SApellidoMaterno + "\"" +
                                ")' >Editar</button>";
                            return strHtml;
                        },
                        "sWidth": "5px",
                        "sClass": "css-center",
                        "bSort": false,
                        "aTargets": [6]
                    },
                    {
                        "mRender": function (data, type, row) {
                            var strHtml = "<button class='btn btn-danger' onclick='fnEliminar(" + row.idusuario + ");' >Eliminar</button>";
                            return strHtml;
                        },
                        "sWidth": "5px",
                        "sClass": "css-center",
                        "bSort": false,
                        "aTargets": [7]
                    }
                ]
        });
    }

    $(document).ready(function () {
        fn_ListarNivel();
        fn_ListarNivelEditar();
        $('#idNivel').on('change', function () {
            fn_listarGrado();
        });

        fnlistarTabla();

    });

    function fn_Editar(idusuario, idnivel, tipousuario, idgrado,
        idsede, Susuario, Snombres, SApellidoPaterno, SApellidoMaterno) {

        $('#idNivelEditar option').removeAttr('selected');
        $('#idTipoUsuarioEditar option').removeAttr('selected');
        $('#idGradoEditar option').removeAttr('selected');
        $('#idSedeEditar option').removeAttr('selected');

        $('#hddusuario').attr("data-idusuario", idusuario);

        $('#idNivelEditar option[value="' + idnivel + '"]').attr('selected', 'selected');
        $('#idTipoUsuarioEditar option[value="' + tipousuario + '"]').attr('selected', 'selected');

        var slcnivel = $('#idNivelEditar option:selected').attr('value');
        fn_listarGradoEditar(slcnivel, idgrado);

        $('#idSedeEditar option[value="' + idsede + '"]').attr('selected', 'selected');
        $("#idUsuarioEditar").val(Susuario);
        $('#idContraseniaEditar').val("");
        $("#idNombresEditar").val(Snombres);
        $("#idApMaternoEditar").val(SApellidoMaterno);
        $("#idApPaternoEditar").val(SApellidoPaterno);
        $('#modalEditarUsuario').modal("show");
    }

    function fn_Actualizar() {
        var iIdUsuario = $('#hddusuario').attr("data-idusuario");

        var idIdNivelEdit = $('#idNivelEditar option:selected').attr('value');
        var iIdTipoUsuarioEdit = $('#idTipoUsuarioEditar option:selected').attr('value');
        var iIdGradoEdit = $('#idGradoEditar option:selected').attr('value');
        var ipUsuarioEdit = $('#idUsuarioEditar').val();
        var iIdSedeEditEdit = $('#idSedeEditar option:selected').attr('value');
        var ipContraseniEdit = $('#idContraseniaEditar').val();
        var sNombreEdit = $('#idNombresEditar').val();
        var sApellidoPaternoEdit = $("#idApPaternoEditar").val();
        var sApellidoMaternoEdit = $("#idApMaternoEditar").val();

        if (idIdNivelEdit.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL NIVEL");
            return;
        }
        if (iIdTipoUsuarioEdit.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL TIPO DE USUARIO");
            return;
        }
        if (iIdGradoEdit.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL GRADO");
            return;
        }
        if (ipUsuarioEdit.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UN NOMBRE DE USUARIO");
            return;
        }
        if (iIdSedeEditEdit.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA LA SEDE");
            return;
        }

        if (ipContraseniEdit.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UNA CONTRASEÑA");
            return;
        }
        if (sNombreEdit.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL NOMBRE");
            return;
        }
        if (sApellidoPaternoEdit.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO PATERNO");
            return;
        }
        if (sApellidoMaternoEdit.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO MATERNO");
            return;
        }

        $.ajax({
            type: "POST",
            url: RutaPrincipal + "Login/ActualizarUsuario",
            data: {
                "widusuario": iIdUsuario,
                "widnivel": idIdNivelEdit,
                "widgrado": iIdGradoEdit,
                "wsusuario": ipUsuarioEdit,
                "wsclave": ipContraseniEdit,
                "wstipousuario": iIdTipoUsuarioEdit,
                "widsede": iIdSedeEditEdit,
                "wnombres": sNombreEdit,
                "wamaterno": sApellidoMaternoEdit,
                "wapaterno": sApellidoPaternoEdit
            },
            success: function (data) {
                $('#modalEditarUsuario').modal("hide");
                //var table = $('#basic-datatable').DataTable();
                //table.clear().draw();
                var table = $('#basic-datatable').DataTable();
                table.ajax.reload();

            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function fnEliminar(widalumno) {
        $('#hddAlumnoEliminar').attr("data-idalumnoEliminar", widalumno);
        $('#modalEliminarAlumno').modal("show");
    }

    function fn_ConfirmarEliminar() {
        var pidalumno = $('#hddAlumnoEliminar').attr("data-idalumnoEliminar");
        $.ajax({
            type: "POST",
            url: "/Login/DesactivarUsuario",
            data: {
                "widusuario": pidalumno
            },
            async: false,
            success: function (data) {
                $('#modalEliminarAlumno').modal("hide");
                $('#hddAlumnoEliminar').attr("data-idalumnoEliminar", "");
                fnlistarTabla();
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

</script> 
}

    